.list-item {
  margin-bottom: 5px;

  &__link {
    display: flex;
    align-items: center;
    height: 70px;
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 0 15px 0 0;
    text-decoration: none;
    color: inherit;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px 0px #00000026;
  }

  &__label {
    width: 4px;
    height: 100%;
    background-color: #E14165;
    margin-right: 11px;
    border-radius: 3px 0 0 3px;
  }

  &__label_type_delivery {
    background-color: #C2C2FF;

  }

  &__label_type_games {
    background-color: #8686FF;

  }

  &__name {
    font-size: 13px;
    line-height: 15px;
    font-weight: 500;
    margin: 0;
    width: 390px;
  }

  &__text {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    margin: 0;
  }

  &__type {
    width: 100px;
    margin-right: 25px;
  }

  &__text_type_bold {
    width: 62px;
    font-weight: 500;
    margin-right: 54px;
  }

  &__text_type_online {
    color: #1BDA9D;
  }

  &__text_type_paused {
    color: #FF8346;
  }

  &__text_type_draft {
    color: #5C5C5C;
  }

  &__text_type_stopped {
    color: #FE4848;
  }

  &__text_type_url {
    text-align: left;
    width: 125px;
  }

  &__button_green {
    background-color: #2EE5AC;
  }

  &__button_gray {
    background-color: #7D7D7D;
  }

  &__button {
    margin-left: auto;
    cursor: pointer;
  }
}



